Body {
    font-family: 'Syne Tactile', cursive;
    font-size: 13pt;
    line-height: 150%;
    color: #1c2b2d;
}
nav,h1{
    font-family: 'Abril Fatface', cursive;
}
nav{
    font-size: 14pt;
    color: #1f6f8b;
}
h1{
    font-size: 16;
    color: #14274e;
}
Form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #6a097d;
}
input:focus {
    border: 2px solid yellow 
}
input:hover {
    border: solid green
}
button:hover{
    border-color: blue;
    color: blue
}
Button:focus{
    background: red;
}
a:hover{
    background: lightskyblue;
}
a:focus{
    background: greenyellow;
}
.Imagen-Galeria{
    border: 10px solid blue;
    margin: 10px;
    padding: 20PX
}
.Video-Galeria{
   margin: 10px;
   border: 20px solid red;
   padding: 10PX;
}
img{
    display:block;
    margin:auto;
}
video{
    display:block;
    margin:auto;
}
NAV{
    text-align: center;
}
.Encabezado{
    text-align: center;
}
.Etiqueta-pelicula{
    text-align: center;
}