Body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-size: 13pt;
}
body{
    line-height: 150%;
}
body{
    color: royalblue;
}
nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    font-size: 14pt;
}
nav{
    color: burlywood;
}