Body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-size: 13pt;
}
body{
    line-height: 150%;
}
body{
    color: #1c2b2d;
}
nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    font-size: 14pt;
}
nav{
    color: #1f6f8b;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 16;
}
h1{
    color: #14274e
}
Form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form{
    font-size: 15px;
}
form{
    font-weight: 500;
}
form{
    color: #6a097d;
}